
# git@github.com:realm/realm-cocoa.git
# github "realm/realm-cocoa" ~> 0.98.8

# git@github.com:Alamofire/Alamofire.git
github "Alamofire/Alamofire" ~> 4.0

# git@github.com:tristanhimmelman/AlamofireObjectMapper.git
github "tristanhimmelman/AlamofireObjectMapper" ~> 4.0

github "onevcat/Kingfisher"

# git@github.com:stephencelis/SQLite.swift.git
github "stephencelis/SQLite.swift"

# git@github.com:SnapKit/SnapKit.git
#github "SnapKit/SnapKit" ~> 3.0.2
